<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Post</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="background-image: url(https://fondosmil.com/fondo/23183.jpg);">
    <div class="container-md rounded" style="background-color: #F6F6F6;">
        <br>
        <br>
        <div class="container-md">
            <h1><span class="badge" style="background-color: #02586A;">Actualizar</span></h1>
        </div>
        <br>
        <br>
        <div class="container-md">
            <form method="POST" >
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>